@use '../abstracts';

.lineChart{
    position: relative;
    width: 258px;
    height: 263px;
    top: 500px;
    left: 126px;
    
    p.lineChart-title{
        position: absolute;
        top: 28px;
        left: 34px;
        width: 147px;
        color: abstracts.$color-tertiary;
        opacity: 0.5;
    }
}