.nutritional-infos{
   height: inherit;
   height: 650px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 77px;
   @media screen and (max-width: 1400px){
    width: 100%;
    height: 124px;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
   }
    .nutriments{
        width: 258px;
        height: 124px;
        display: flex;
         gap: 24px;
        align-items: center;
        justify-content: center;
        //margin-bottom: 39px;
        background-color: #FBFBFB;
        .nutriment-legend{
            span{
                display: block;
                &:nth-child(1){
                    font-size: 20px;
                    font-weight: 700;
                }
                &:nth-child(2){
                    font-size: 14px;
                }
            }
            
            display: flex;
            gap: 10px;
            flex-direction: column;
            
        }
    }
}
