@use '../abstracts';

.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 1124px;
    background-color: abstracts.$color-secondary;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width: 800px){
      flex-direction: row;
      width: 100%;
      height: 100px;
    }
    a{
        cursor: pointer;
      &:hover{
        transform: scale(1.05);
      }

      
    }
    .copyright{
        color: abstracts.$color-tertiary;
        transform: rotate(-90deg);
        height: auto;
        width: 400px;
        @media screen and (max-width: 800px){
          display: none;
        }
    }
}