@use "../abstracts";

.sidebar-container {
	display: flex;
	flex-direction: column;
	width: 100px;
	min-height: 100vh;
	height: auto;
	background-color: abstracts.$color-secondary;
	align-items: center;
	justify-content: center;
	gap: 10px;
	@media screen and (max-width: 1024px) {
		flex-direction: row;
		width: 100%;
		height: 100px;
		min-height: auto;
		margin-top: 20px;
		background-color: transparent;
		gap: 50px;
	}

	a {
		cursor: pointer;
		&:hover {
			transform: scale(1.05);
		}
		@media screen and (max-width: 1024px) {
			border: 1px solid red;
			border-radius: 5px;
		}
	}
	.copyright {
		color: abstracts.$color-tertiary;
		transform: rotate(-90deg);
		height: auto;
		width: 400px;
		@media screen and (max-width: 1024px) {
			display: none;
		}
	}
}
