@use "../abstracts";

.container {
	display: flex;
	@media screen and (max-width: 800px){
		flex-direction: column;
	}
	.health-info{
		display: flex;
		width: 100%;
		height: 100vh;
		.dashboard {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100vh;
			width: 100%;
			.dashboard-title {
				width: 70%;
				margin-top: 68px;
		
				& h1 {
					font-size: 48px;
					align-items: flex-start;
					margin-bottom: 41px;
					.dashboard-name {
						color: abstracts.$color-primary;
					}
				}
				& p {
					font-size: 18px;
				}
			}
			.dashboard-graph{
				display: flex;
				align-items: center;
				gap: 50px;
				justify-content: space-between;
				width: 72%;
				.dashboard-content {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: auto;
					gap: 30px;
					margin-top: 77px;
			
					.charts {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 20px;
			
						
					}
				}
			}
			
		}
	}
}


.custom-tooltip-barchart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 39px;
	height: 63px;
	background-color: #e60001;
	color: #ffffff;
	font-size: 7px;
	margin-left: 7px;
}
